/* Desktop VERSION */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
    transition: ease-in 0.2s;
}

a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

body {
    background-image: url("resources/IMG_3011.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -9px;
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
}

/* Actual content of the page */

/* Bio text */
 
main {

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 50%;
    min-width: min-content;
    min-height: 93vh;

    margin-left: 20px;

    color: rgba(190, 87, 41, 1);

}

p {
    text-indent: 2rem;
}

.mainBioText {
    text-align: justify;
    font-family: 'Tinos';
    font-size: 1.1rem;
}

/* Social links */

.bulletPoints {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

}

.bulletPoints div{
    background-color: rgba(0, 0, 0, 0.28);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: inherit;
    transition: ease-in 0.2s;
}

@media (max-width: 820px) {

    main {
        max-width: 100%;
        margin-right: 20px;

    }

}