/* PHONE VERSION */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
}

.backgroundPic {
    position: fixed;
    background-image: url("resources/IMG_3011.jpg");
    background-position: 85%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -9px;
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
}

/* Actual content of the page */

/* Bio text */
 
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: justify;
    font-family: 'Tinos';
    font-size: 1.2rem;

    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    color: rgba(190, 87, 41, 1);
    padding-left: 16px;
    padding-right: 16px;

    background-color: rgba(0, 0, 0, 0.5);
}

p {
    text-indent: 2rem;
}

/* Social links */

.bulletPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding-bottom: 5px;

}

.bulletPoints a {
    color: inherit;
    color: rgb(184, 121, 92);
    font-weight: bold;
}
