/* General CSS attributes for the page */

a {
    text-decoration: none;
}

body {
    background-image: url("resources/IMG_3011.jpg");
    background-size: cover;
    background-position: 0px -100px;
    overflow: hidden;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -9px; /* Adjust for body margin */

}

header a {
    color:rgba(190, 87, 41, 1);
    transition: ease-in 0.2s;

}

.hoverLink:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

/* Bio text */

main {

    width: 55%;
    text-align: justify;

    margin-left: 20px;

    color: rgba(190, 87, 41, 1);

    font-family: sand;
}

p {
    text-indent: 45px;
}

/* Social links */

.bulletPoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

a {
    color: inherit;
    transition: ease-in 0.2s;
}