/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
    transition: ease-in 0.2s;
}

a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

body {
    background-image: url("resources/IMG_3011.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

main a {
    color: rgb(184, 121, 92);
    font-weight: bold;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -9px;
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
}

/* Actual content of the page */

main {
    color: rgba(190, 87, 41, 1);
    font-family: "Tinos";
}

.overallProject {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.what {
    font-size: 1.2rem;
    text-indent: 1rem;
    margin-left: 1rem;
}

i {
    color: rgb(195, 184, 179);
}

.description {
    font-size: 0.95rem;
    text-align: justify;
    text-indent: 2rem;
    margin-left: 1rem;
}

.divBar {

    background-color: rgba(190, 88, 41, 0.5);
    color: rgba(190, 88, 41, 0);
    font-size: 0.5rem;
    text-align: center;

}

.images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .overallProject {
        flex-direction: column;
    
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-right: 16px;
        padding-top: 16px;
    
        background-color: rgba(0, 0, 0, 0.65);
    }

    .project {
        max-width: 100%;
    }

    .images {
        padding-bottom: 16px;
    }
}