/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
    transition: ease-in 0.2s;
}

a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

body {
    background-image: url("resources/IMG_3011.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

main a {
    color: rgb(184, 121, 92);
    font-weight: bold;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: -9px;
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
}

/* Actual content of the page */

/* "Works" page title */

main {
    color: rgba(190, 87, 41, 1);
    font-family: "Tinos";
}

/* Work Squares */

#workList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5rem;

    max-width: 100vw;
    font-size: 1.2rem;

    margin-top: 20px;
    margin-left: 1rem;
}

.film {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.film a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.filmSquare {
    min-height: 300px;
    min-width: 300px;


    position: relative;
    text-align: center;

    border: 2.5px solid rgba(255, 255, 255, 1); /* unhovered solid border */

    display: grid;
    place-items: center; /* Make inside text centered */

    opacity: 0.65;
    transition: ease-in 0.2s;

    font-family: "Playfair Display";

    flex-shrink: 0;
}

.filmCredits {
    font-size: 1rem;
    flex-shrink: 0;
    width: 33%;
}

.filmCredits a {
    color: rgb(184, 121, 92);
    font-weight: bold;
}

.filmDescription {
    font-size: 1rem;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-indent: 45px;
}

.filmDescription a {
    color: rgb(184, 121, 92);
    font-weight: bold;
}

.filmDescription a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

/* Pulsing border */

.filmSquare:hover::after {

    content: "";
    position: absolute;
    top: -2.5px; /* These dimensions need to be the negative of the border size */
    left: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    border: 2.5px solid rgba(255, 255, 255, 0.5); /* Beggining rgba */
    z-index: 2;
    animation: pulse-brightness 0.5s infinite ease-in-out; /* How fast the pulses are */
}

@keyframes pulse-brightness {
    0%, 100% {
      border-color: rgba(255, 255, 255, 1); /* Beggining rgba */
    }
    50% {
      border-color: rgba(0, 72, 0, 1); /* End rgba */
    }
  }


.filmSquare:hover {
    opacity: 1;
    transition: ease-in 0.2s;
}

/* Define pictures for each work square */

.filmSquare.ursula {
    background-image: url(/resources/ursula.png);
    background-size: cover;
}

.filmSquare.rowanVessels {
    background-image: url(/resources/Vessels-of-Home_Stills_Rowan-Moonlion-07.jpg);
    background-size: cover;
}

.filmSquare.rowanQueer {

    background-image: url(/resources/Queer-Utopia_NMoonlion-59.jpg);
    background-size: cover;
}

.filmSquare.queerpera {

    background-image: url(/resources/);
    background-size: cover;
}
