/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
    transition: ease-in 0.2s;
}

a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

body {
    background-color: black;
    overflow-x: hidden;
}

main a {
    color: rgb(184, 121, 92);
    font-weight: bold;
}

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(190, 87, 41, 0.5);
    margin-left: -9px;
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
}

/* Actual content of the page */

.soon {
    color: rgba(190, 87, 41, 1);
    margin-left: 1rem;
}

.title {
    font-family: 'Tinos';
    color: rgba(190, 87, 41, 1);
    font-size: 1.7rem;
    text-align: center;
    background-color: rgba(190, 88, 41, 0.315);
}

.entry {
    font-family: 'Tinos';
    color: rgba(190, 87, 41, 1);
    font-size: 1rem;
    text-align: left;
    margin-left: 1rem;
}

i {
    color: rgb(195, 184, 179);
}