/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
}

.wrapper{
    /* border: 1px solid black; */
    position: relative;
    height: 34px;
    max-width: 130px;
    margin-inline: auto;
    margin-top: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@keyframes scroll-updown {

    to {
        bottom: -60px;
    }

}

.item {
    width: 200px;
    height: 1em;
    /* background-color: rgba(255, 0, 0, 0.428); */
    position: absolute;
    text-align: center;
    /* left: 100%; */
    bottom: 100%;
    animation-name: scroll-updown;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: "Tinos";
    font-size: 20px;
}

.item1 {
    animation-delay: calc( 5s / 4 * (4 - 1) * -1);
}

.item2 {
    animation-delay: calc( 5s / 4 * (4 - 2) * -1);
}

.item3 {
    animation-delay: calc( 5s / 4 * (4 - 3) * -1);
}

.item4 {
    animation-delay: calc( 5s / 4 * (4 - 4) * -1);
}