/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General CSS attributes for the page */

a {
    text-decoration: none;
}

/* html {
    overflow: hidden;
} */

/* Header nav bar for all pages */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100.1vw;
    background-color: rgba(190, 87, 41, 0.5);
    margin-left: -9px; /* Adjust for body margin */
    font-family: 'Tinos';
}

header a {
    color:rgba(190, 87, 41, 1);
    transition: ease-in 0.2s;

}

.hoverLink:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}

/* Piece content */

main {

    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
    color: rgba(190, 87, 41, 1);
    font-family: 'Tinos';

}

.videoAudioDoc {

    margin-left: 5rem;
    margin-top: 8.77rem;

}

iframe {

    border: 0.5rem rgba(0, 0, 0, 0.65) solid;

}

.allInfo {

    min-height: 94vh;
    max-width: 50%;
    margin-left: 1rem;

}

.pieceInfo {
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.6rem;
}

.pieceTitle {
    font-size: 1.43rem;
    font-family: 'Playfair Display';
}

.pieceFormation {
    font-size: 1.1rem;
}

.pieceText {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.6rem;
    font-size: 1em;
}

hr {
    border-top: 0.5px solid white;
}

main p {

    text-indent: 40px;
    text-align: justify;

}

p a {
    text-decoration: none;
    color: rgba(190, 87, 41, 1);
    font-weight: bold;
    transition: ease-in 0.2s;
}

p a:hover {
    color: rgba(190, 87, 41, 0.5);
    transition: ease-in 0.2s;
}